/*
    Title: Course Project - Phase Two - styles.css
    By: Tim Aryavong
    Date: Saturday July 25, 2020
    Description: A to-do list that focuses on demonstrating event handlers and DOM manipulation
    Phase Two - modularized stuff
    Created createListItem(item), helper derived from some functionality inside addItem().
    Updated removeItem, querySelectorAll() now selects only inputs where type is checkbox.
*/

#mainBody {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "toDoList toDoList toDoList"
        "vidHeader vidHeader vidHeader"
        "videoBox videoBox videoBox"
        ". mapBox .";
}

#header {
    grid-area: header;
}

#toDoList {
    grid-area: toDoList;
}

#vidHeader {
    grid-area: vidHeader;
}

#vidBox {
    grid-area: videoBox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "vidBtn picBtn"
        "video picture";
}

#video {
    grid-area: video;
}

#picture {
    grid-area: picture;
}

#picBtn {
    grid-area: picBtn;
}

#vidBtn {
    grid-area: vidBtn;
}

#mapBox {
    grid-area: mapBox;
}

#map { /*This is needed to overwrite other CSS and actually show the map. Reference: https://stackoverflow.com/questions/49547337/google-maps-api-javascript-no-display-no-errors */
    width: 100% !important;
    height: 400px !important;
    background-color: grey !important;
}
